node_modules
.DS_Store
.pnpm-store
.vs/
bin/
obj/
node_modules/
/.vs/helbreath-base-game.slnx/FileContentIndex/7aee09ba-5848-4f05-a4a7-b48781bb6c08.vsidx
multiplayer/mp-client/public/assets/sprites/extracted/
sp-client/public/assets/sprites/extracted/